.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-card-container {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-quote {
  font-style: italic;
  margin-top: 8px;
  color: var(--pink);
  width: 50%;
  font-size: 15px;
}