.floating-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.floating-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #171a1c;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border: 1px solid #171a1c;
}

.floating-icon:hover {
  transform: scale(1.1);
}

.floating-icon-in-zen-mode {
  opacity: 0.08;
}