.journal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.journal-entries-container {
    flex-basis: 25%;
    max-width: 25%;
    padding-right: 20px;
}

.journal-entries-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 12px;
}

.journal-entry-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.journal-entry-item-selected {
    background-color: #fff;
}

.journal-entry-item:hover {
    background-color: #000000;
    color: #fff;
}

.journal-entry-container {
    flex-basis: 75%;
    max-width: 75%;
}

.journal-entry-editor {
    background-color: #fff;
}

.journal-entry-new-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.journal-entry-new-btn {
    background-color: var(--pink);
    color: #F0F1F3;
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.8;
}

.journal-entry-new-btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.journal-entry-title-input {
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: text;
}